.AppBar a {
  color: inherit;
  text-decoration: none;
  margin-right: 16px;
}

.AppBar button {
  color: inherit;
  margin-left: 12px;
}

/* Dark Mode Styles */
.AppBar.dark-mode a {
  color: #fff;
}

.AppBar.dark-mode button {
  color: #fff;
}
