.circular-progressbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this based on your layout */
  }
  
.circular-progressbar-text {
font-size: 20px; /* Adjust this to your desired text size */
/* dominant-baseline: middle; Vertically align the text */
text-anchor: middle; /* Horizontally align the text */
}

.progress-description {
margin-top: 20px; /* Adjust the spacing as needed */
font-size: 16px; /* Adjust this to your desired text size */
text-align: center; /* Center the text */
}

Button{
    color: green;
}
